<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="pi-monitor" />
  <title>pi-monitor</title>
  <script defer="defer" src="{{ url_for('static', filename='main.9568e333.js') }}"></script>
  <link href="{{ url_for('static', filename='main.0a2b499e.css') }}" rel="stylesheet" />
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
</body>

<script>
  window.APP_DATA_INIT = {{ app_data | tojson | safe }}
</script>

</html>